.home{
    //top destination
    .top_shortcuts {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f9e2e3;
      .shortcuts {
        //  border: 3px solid;
        background-color: #f9e2e3;
        padding: 15px 15px;
        text-align: center;
        margin: 0 auto;
        width: 23%;
        //fonts
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5em;
        letter-spacing: 0.105em;
      }
      .icon {
        font-size: 1.8em;
        margin-top: 10px;
        text-decoration: none;
        text-align: center;
        color: #000000;
      }
      .shortcuts p {
        width: 100%;
        font-size: 0.6em;
        // border: 3px solid;
        color: #000000;
        padding: 0 1em;
      }
      .shortcuts:hover {
        background: #660746;
        .icon {
          color: #f9e2e3;
          animation: shake 0.5s;
        }
        p {
          color: #f9e2e3;
        }
      }
    }
    
    //services
    .services {
      position: relative;
    }
    
    .column.is-6.second_column {
      top: 25%;
      /* border: 1px solid black; */
      left: 25%;
      position: absolute;
    }
    
    //tour packages
    .packages{
      justify-content: center;
      align-items: center;
      padding: 4%;
      .tour_form {
      background: #660746;
      border-radius: 6px;
      transition: box-shadow .2s ease-in;
      color: #f9e2e3;
      height: 100%;
    }
    img{
        border-radius: 10px;
      }
    }
    .tour_form:hover{
      box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 100%),
          0 0px 0 1px rgb(10 10 10 / 100%);
    }
    
    
    //travel tips
    .travel_tips_bg {
      background: #660746;
      color: #f9e2e3;
      justify-content: center;
      // align-items: center;
      border-radius: 10px;
      box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0px 0 1px rgb(10 10 10 / 2%);
      height: 100%;
      h2.subtitle {
        color: #f9e2e3;
        font-size: 1.4em;
        font-weight: bolder;
        
      }
      .company_tips{
          border: #f9e2e3 solid;
          margin-top: 20%;
          font-size: 1.2em;
          padding: .4em;
        }
      .trip_description{
        background: #f9e2e3;
        color: #000000;
      }
    }
    
    //about us
    .hr {
      background-color: #660746;
    }
    @media (max-width: 768px) {
      .top_shortcuts{
        display: block;
      }
    }
    }