/* Base color */
$base-color: #660746;
$base-color-light: #f9e2e3;
$white: white;
$black: black;


$black-ter: hsl(0, 0%, 14%);
$cyan:#ffa2e0;
$grey:hsl(0, 0%, 48%);
$grey-darker:hsl(0, 0%, 21%);
$white-bis:hsl(0, 0%, 98%);
$white-ter:hsl(0, 0%, 96%);

/* Dark Mode */
 $dark-mode-background-color: $black-ter;
$dark-mode-lighter-background-color: $grey-darker;
$dark-mode-color: $white-ter;
$dark-mode-border-color: $white-ter;
$dark-mode-border: 1px solid $dark-mode-border-color;
$dark-mode-light-border-color: $grey-darker;
$dark-mode-light-border: 1px solid $dark-mode-light-border-color;
$dark-mode-link-color: $cyan;
$dark-mode-link-active-color: $white-ter;
$dark-mode-link-hover-color: $white-bis;
$dark-mode-overlay-background-color: rgba($black, .85);
$dark-mode-button-color: $white-ter;
$dark-mode-button-hover-color: $black-ter;
$dark-mode-card-header-button-color: $grey;
$dark-mode-card-header-button-hover-color: $black-ter;