.trip{
    /* figure.image {
      height: 35%;
    } */
    
    /* list style before activities */
    li::before{
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50% ;
      display: inline-flex;
      margin-right: 10px;
      border: #660746 2px solid;
      background: white;
    }
    
    .image img {
      border-radius: 10px;
    }
    
    a {
      color: black;
      text-decoration: underline;
      transition: color 0.25s ease-out, background-color 0.25s ease-out,
        border-color 0.25s ease-out;
    }
    a:hover {
      color: #660746;
      text-decoration: none;
    }
    a:focus {
      color: #660746;
      text-decoration: none;
    }
    .button {
      width: 10em;
      height: 2.5em;
      font-size: 1.6em;
    }
    h2.subtitle {
      letter-spacing: 0.2em;
    }
    .activities {
      border: #660746 solid 2px;
      margin: 10% 25%;
    }
    .divBorder {
      border-left: #660746 2px solid;
    }
    
    .product-small-img img {
      height: 4.5em;
      width: 4.5em;
      padding: 0.5em;
      margin: 0.2em;
      cursor: pointer;
      display: block;
      opacity: 0.6;
    }
    .product-small-img img:hover {
      opacity: 1;
    }
    .product-small-img {
      display: inline-flex;
    }
    @media (max-width: 768px) {
      .divBorder {
        border-left: none;
      }
      .activities {
        margin-top: 5%;
        margin-bottom: 0;
      }
      .product-small-img {
        width: 100%;
        overflow: auto;
      }
      .product-small-img img {
        max-height: 100%;
      }
    }
    
    /* slide fade out */
    .slideout{
      /* animation: 1s ease-in 0s 1 slideInFromLeft; */
      animation: fade 1s ease-in-out;
    }
    @keyframes fade {
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
    }